<!-- Validation failure messages -->
<% if @profile.errors.any? %>
  <% @profile.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Profile</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_profile" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @profile.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_photo -->
      <div class="form-group">
        <label for="user_photo" class="control-label">
          User photo
        </label>

        <input type="text" id="user_photo" name="user_photo" placeholder="User photo" class="form-control" value="<%= @profile.user_photo %>">
      </div>

      <!-- Label and input for bio -->
      <div class="form-group">
        <label for="bio" class="control-label">
          Bio
        </label>

        <textarea id="bio" name="bio" placeholder="Bio" class="form-control" rows="3"><%= @profile.bio %></textarea>
      </div>

      <button class="btn btn-success">
        Create Profile
      </button>
      or
      <a href="/profiles">Cancel</a>
    </form>
  </div>
</div>
