<div class="page-header">
  <h3>Recipe #<%= @recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Post</dt>
      <dd>
        <% if @recipe.post.present? %>
          <a href="/posts/<%= @recipe.post_id %>">
            <%= @recipe.post.title %>
          </a>
        <% end %>
      </dd>

      <dt>Ingredients</dt>
      <dd><%= @recipe.ingredients %></dd>

      <dt>Instructions</dt>
      <dd><%= @recipe.instructions %></dd>

      <dt>Recipe url</dt>
      <dd><%= @recipe.recipe_url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        Back
      </a>
      <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Recipe has many recipe_photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipe Photos
      </li>

      <% @recipe.recipe_photos.each do |photos_of_recipe| %>
        <li class="list-group-item">
          <a href="/photos_of_recipes/<%= photos_of_recipe.id %>">
            <%= photos_of_recipe.recipe_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos_of_recipes/<%= photos_of_recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photos_of_recipes/<%= photos_of_recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photos_of_recipe/<%= photos_of_recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_photos_of_recipe" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recipe_id -->
      <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">

      <button class="btn btn-block btn-success">
        Create Photos Of Recipe
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
