<div class="page-header">
  <h1>
    Photos of recipes
    <a href="/photos_of_recipes/new" class="btn btn-lg btn-success">New Photos of recipe</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Recipe</th>
        <th>Actions</th>
      </tr>

      <% @photos_of_recipes.each do |photos_of_recipe| %>
      <tr>
        <td>
          <% if photos_of_recipe.recipe.present? %>
            <a href="/recipes/<%= photos_of_recipe.recipe.id %>">
              <%= photos_of_recipe.recipe.post_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/photos_of_recipes/<%= photos_of_recipe.id %>" class="btn btn-primary">Show</a>
          <a href="/photos_of_recipes/<%= photos_of_recipe.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photos_of_recipe/<%= photos_of_recipe.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @photos_of_recipes, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
